{
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "extends": ["eslint:recommended", "google", "prettier"],
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "commonjs": true,
        "shared-node-browser": true,
        "mocha": true
    },
    "plugins": ["chai-friendly", "prettier"],
    "rules": {
        "prettier/prettier": ["error"],
        "no-console": "error",
        "array-callback-return": ["error"],
        "arrow-body-style": ["error", "as-needed"],
        "arrow-parens": ["error", "as-needed"],
        "arrow-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "camelcase": [
            "error",
            {
                "properties": "never"
            }
        ],
        "curly": ["error", "all"],
        "dot-location": ["error", "property"],
        "dot-notation": ["error"],
        "eqeqeq": ["error", "always"],
        "func-names": ["error", "as-needed"],
        "func-style": ["error", "expression"],
        "global-require": ["error"],
        "handle-callback-err": ["error"],
        "id-length": [
            "error",
            {
                "min": 2,
                "exceptions": ["i", "j", "_", "R"]
            }
        ],
        "max-depth": ["error", 4],
        "max-len": [
            "error",
            120,
            4,
            {
                "ignoreComments": true,
                "ignoreUrls": true,
                "ignoreTrailingComments": true,
                "ignoreStrings": true,
                "ignoreRegExpLiterals": true,
                "ignorePattern": "true"
            }
        ],
        "max-nested-callbacks": ["error", 3],
        "max-params": ["error", 5],
        "multiline-ternary": ["error", "always-multiline"],
        "new-parens": ["error"],
        "newline-per-chained-call": [
            "error",
            {
                "ignoreChainWithDepth": 3
            }
        ],
        "no-alert": ["error"],
        "no-cond-assign": ["error"],
        "no-confusing-arrow": [
            "error",
            {
                "allowParens": true
            }
        ],
        "no-duplicate-imports": ["error"],
        "no-else-return": ["error"],
        "no-empty-function": ["error"],
        "no-eq-null": ["error"],
        "no-eval": ["error"],
        "no-extra-label": ["error"],
        "no-floating-decimal": ["error"],
        "no-implicit-coercion": [
            "error",
            {
                "boolean": false,
                "number": false,
                "string": false
            }
        ],
        "no-inline-comments": ["error"],
        "no-iterator": ["error"],
        "no-label-var": ["error"],
        "no-lone-blocks": ["error"],
        "no-lonely-if": ["error"],
        "no-loop-func": ["error"],
        "no-multi-assign": ["error"],
        "no-negated-condition": ["error"],
        "no-new": ["error"],
        "no-new-func": ["error"],
        "no-new-require": ["error"],
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],
        "no-prototype-builtins": ["error"],
        "no-restricted-syntax": ["error"],
        "no-proto": ["error"],
        "no-return-assign": ["error"],
        "no-return-await": ["error"],
        "no-script-url": ["error"],
        "no-self-compare": ["error"],
        "no-sequences": ["error"],
        "no-shadow-restricted-names": ["error"],
        "no-template-curly-in-string": ["error"],
        "no-throw-literal": ["off"],
        "no-undef-init": ["error"],
        "no-undefined": ["error"],
        "no-unmodified-loop-condition": ["error"],
        "no-unneeded-ternary": ["error"],
        "no-use-before-define": ["error"],
        "no-useless-call": ["error"],
        "no-useless-computed-key": ["error"],
        "no-useless-concat": ["error"],
        "no-useless-constructor": ["error"],
        "no-useless-escape": ["off"],
        "no-useless-rename": ["error"],
        "no-useless-return": ["error"],
        "no-void": ["error"],
        "no-whitespace-before-property": ["error"],
        "object-shorthand": ["error", "always"],
        "prefer-arrow-callback": [
            "error",
            {
                "allowNamedFunctions": false,
                "allowUnboundThis": false
            }
        ],
        "prefer-const": [
            "error",
            {
                "ignoreReadBeforeAssign": false
            }
        ],
        "prefer-destructuring": [
            "error",
            {
                "VariableDeclarator": {
                    "array": false,
                    "object": true
                },
                "AssignmentExpression": {
                    "array": true,
                    "object": false
                }
            },
            {
                "enforceForRenamedProperties": false
            }
        ],
        "prefer-template": ["error"],
        "radix": ["error"],
        "require-await": ["error"],
        "require-jsdoc": [
            "error",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": true,
                    "ClassDeclaration": true,
                    "ArrowFunctionExpression": false
                }
            }
        ],
        "semi-style": ["error", "last"],
        "spaced-comment": [
            "error",
            "always",
            {
                "exceptions": ["-", "+", "=", "*"]
            }
        ],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": ["error"],
        "symbol-description": ["warn"],
        "template-tag-spacing": ["error"],
        "valid-jsdoc": [
            "error",
            {
                "requireReturn": false
            }
        ],
        "wrap-iife": [
            "error",
            "outside",
            {
                "functionPrototypeMethods": true
            }
        ]
    },
    "overrides": [
        {
            "files": ["*.test.js"],
            "rules": {
                "max-len": "off",
                "no-unused-expressions": 0,
                "chai-friendly/no-unused-expressions": 2,
                "max-nested-callbacks": "off",
                "no-undefined": "off"
            }
        }
    ]
}
