[Unit]
Description=Jira-To-Matrix bot
After=network.target

[Service]
Environment=NODE_PORT=4001
Type=simple
User=jira-matrix-bot
WorkingDirectory=/opt/jira-to-matrix/
ExecStart=/usr/bin/node /opt/jira-to-matrix/src/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
